/* .container{
    text-align: center;
    margin-top: 23px;
}
table{
    margin: auto;
}
input{
    border: 20px;
    border-radius: 21px;




    font-size: 34px;
}
 button{
    font-size: 40px;
    background: rgb(237, 100, 168);
    width: 102px;
    height: 58px;
    border-radius: 20px;
    margin: 6px; 
} 
.calculator{
    padding: 23px;
    background-color: rgb(0, 204, 255);
   border-width: 4px;
    border-radius: 53px;
    display: inline-block;
    height: 90px;
    margin: 6px;
} */